site_name: dataset-extractor-lotus
repo_url: https://github.com/pamrein/dataset-extractor-lotus
site_url: https://pamrein.github.io/dataset-extractor-lotus
site_description: Explanation of the extraction from the lotus dataset - masterthesis by P. Amrein
site_author: P. Amrein
edit_uri: edit/main/docs/
repo_name: pamrein/dataset-extractor-lotus
copyright: Maintained by <a href="https://pamrein.com">Florian</a>.

nav:
  - Home: index.md
  - Modules: modules.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
            setup_commands:
                - import sys
                - sys.path.append('../')
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/pamrein/dataset-extractor-lotus
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/dataset-extractor-lotus

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
